.button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-size: 18px;
  text-align: center;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
  &.small {
    padding: 0.3rem 0.75rem;
    font-size: 0.875rem;
  }

  &.medium {
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    height: 40px;
  }

  &.large {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }

  &.loading {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.8;
  }
}

.circle-button {
  border-radius: 50px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  padding: 0;
  padding: 0;
  font-size: 1.1em;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  &.small {
    min-width: 30px;
    height: 30px;
  }

  &.medium {
    min-width: 40px;
    height: 40px;
  }

  &.large {
    min-width: 50px;
    height: 50px;
  }

  &.primary {
    background-color: var(--button-background-color);
    color: var(--button-text-color);

    &:hover {
      background-color: var(--button-hover-background-color);
      color: var(--button-hover-text-color);
    }
  }

  &.dark-focus {
    background-color: var(--dark-mode-background-color);
    color: var(--dark-mode-text-color);

    &:hover {
      opacity: 0.9;
    }
  }
}
