.settingTitle {
  width: 300px;
  margin: 0;
  margin-right: 8px;
  align-self: flex-start;
  color: var(--primary-text-color);
}
.settingRow {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.settingRow:not(:last-child) {
  border-bottom: 1px solid var(--card-content-divider);
}

.settingContent button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  background-color: none;
  border: none;
  border-radius: 50px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.settingContent button:hover {
  opacity: 0.9;
}
.rssButton {
  background-color: #ee802f;
  color: white;
  &:hover {
    background-color: #f99147;
    color: white;
  }
}

.settingContent {
  width: 100%;
  flex: 1;
}
.settingHint {
  font-size: 12px;
  margin-top: 12px;
}
.settingHint a {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
  color: var(--primary-text-color);
}
/**
Select styles
**/
.hackertab__control {
  background-color: var(--card-background-color) !important;
  border-color: var(--tag-border-color) !important;
}
.hackertab__indicator-separator {
  background-color: var(--tag-secondary-color) !important;
}
.hackertab__indicator {
  color: var(--tag-secondary-color) !important;
}
.hackertab__multi-value {
  background-color: var(--tag-background-color) !important;
  border-color: var(--tag-background-color) !important;
  border-radius: 20px !important;
}
.hackertab__multi-value__label {
  color: var(--tag-text-color) !important;
}
.hackertab__menu {
  background-color: var(--card-background-color) !important;
}
.hackertab__option {
  color: var(--tag-input-background) !important;
  background-color: var(--card-background-color) !important;
}
.hackertab__single-value {
  color: var(--primary-text-color) !important;
}

.hackertab__option--is-focused {
  background: var(--tag-background-color) !important;
  color: var(--tag-text-color) !important;
}
.hackertab__multi-value__remove {
  border-radius: 20px !important;
  color: var(--tag-secondary-color) !important;
}

.userContent {
  width: auto;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--card-content-divider);
}
.userContent .userImage {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  align-self: flex-start;
}
.userContent .userInfos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: auto;
  margin-left: 10px;
}
.userContent .userName {
  font-weight: 600;
}

.userContent .sub {
  font-size: 0.9em;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
}

.streaks {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-self: flex-start;
}
.streaks .title {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.streaks ul.streaksWeek::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--card-content-divider);
  z-index: 1;
  position: absolute;
  margin-top: 9px;
}
.streaks ul.streaksWeek {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  overflow: hidden;
}

.streaks .dayWrapper {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
  width: 48px;
  position: relative;
}
.streaks .dayWrapper:last-child {
  width: auto;
}
.streaks .dayWrapper .day {
  border: 1px solid var(--card-content-divider);
  background-color: var(--card-content-divider);
  border-radius: 20px;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 5;
}
.streaks .dayWrapper::before {
  content: '';
  display: block;
  width: 100%;
  background-color: var(--card-content-divider);
  z-index: -1;
  height: 2px;
  position: absolute;
}

.streaks .dayWrapper.checked .day {
  border: 2px solid #18bc2d;
  background-color: #18bc2d;
}
.streaks .checked:is(:has(+ .checked))::before {
  background-color: #18bc2d;
}
