@media (min-width: 768px) {
  .confirmModal {
    width: 400px;
    overflow-y: hidden;
  }
}

.confirmModal .content {
  display: flex;
  flex-direction: column;
}
.confirmModal .description {
  font-size: 1em;
}
.confirmModal .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
}
