.profile {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile .userCard {
  width: auto;
  background-color: var(--placeholder-background-color);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.profile .userImage {
  width: 60px;
  height: 60px;
  border-radius: 20%;
}
.profile .userInfos {
  width: auto;
  margin-left: 10px;
}
.profile .userName {
  font-size: larger;
  font-weight: 600;
}
.profile .userEmail {
  font-size: medium;
  margin-top: 6px;
}
.profile .actions {
  margin-left: auto;
}

.profile .logoutBtn {
  font-size: medium;
  padding: 8px 20px;
  background-color: #e57373;
  color: var(--button-text-color);
  border: 0;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-left: 8px;
}
