.Page {
  max-width: 1024px;
  margin: 0 auto;
  color: var(--primary-text-color);
}
.Page .title {
  color: var(--primary-text-color)
}
.Page button {
  background: var(--card-background-color);
  border:none;
  border-radius: 20px;
  border: 1px solid var(--card-border-color);
  padding: 8px 16px;
  color: var(--primary-text-color);
  cursor: pointer;
}

.Page .buttonIcon {
  position: relative;
  top: 2px;
}