.largeImgAd {
  max-width: none;
  width: 100%;
  img {
    border-radius: 8px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  a {
    width: 100%;
    &:hover {
      opacity: 0.8;
    }
  }
}
.stickyAd {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: #000;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  :hover {
    opacity: 0.9;
  }

  .logo {
    height: 16px;
    width: auto;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    display: block;
  }

  .title {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
  }

  .cta {
    background-color: white;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
  }

  .sponsoredBadge {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 0 6px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.smallImgAd {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  color: white;
  height: 120px;
  border-radius: 4px;
  padding: 8px;
  text-decoration: none;
  :hover {
    opacity: 0.9;
  }

  .illustration {
    width: 120px;
    height: 120px;
    border-radius: 4px 0 0 4px;
    object-fit: contain;
  }
  .content {
    box-sizing: border-box;
    padding: 10px 10px;
    margin: 0;
    height: 100%;

    .logo {
      height: 16px;
    }

    .title {
      margin: 0;
      padding: 0;
      font-size: 13px;
      font-weight: bold;
      margin-top: 8px;
      color: white;
      line-height: 1.5;
    }
  }

  .sponsoredBadge {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
    padding: 4px 4px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
  }

  .cta {
    margin-top: 8px;
    background-color: white;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .ctaIcon {
    vertical-align: sub;
  }
}
