.shareBody {
  padding: 18px;
  margin-top: 25px;
  background-color: var(--card-header-background-color);
  border: 1px solid var(--settings-input-border-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.shareBody .title {
  color: var(--primary-text-color);
  font-size: 20px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.shareBody .source {
  text-transform: capitalize;
  color: var(--secondary-text-color);
  margin: 0;
  padding: 0;
}

.shareBody .link {
  font-size: 14px;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

.shareLink {
  display: flex;
  gap: 10px;
}

.shareLink input[type='text'] {
  flex: 1;
  background-color: var(--settings-input-background-color);
  border: 1px solid var(--settings-input-border-color);
  border-radius: 50px;
  padding: 6px 18px;
  color: var(--settings-input-text-color);
  font-size: 14px;
}

.shareLink button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  background-color: none;
  border: none;
  border-radius: 50px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.shareOptions {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}
.shareOptions h3 {
  color: var(--primary-text-color);
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.shareButtons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
