@import 'variables.css';

html {
  background: var(--background-color);
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  color: var(--primary-text-color);
  font-family: 'nunito';
  font-size: 100%;
}
.appError {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--primary-text-color);
}

.App {
  flex-direction: row;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.errorMsg {
  text-align: center;
  margin: auto;
  font-size: 16px;
  padding: 16px;
}

.ghostCard {
  opacity: 0.3;
}

.cardLoading {
  display: flex;
  justify-content: center;
  min-height: 240px;
  align-items: center;
}

.loadingIcon {
  color: var(--app-name-text-color);
}

.AppHeader {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 1% 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.AppFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.AppFooter .linkItem {
  font-size: 12px;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-right: 12px;
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
}

.linkItemIcon {
  margin-right: 4px;
}

.linkItem :hover {
  color: var(--primary-hover-text-color);
}

.AppContent {
  margin: 0;
  min-height: 100%;
  /* Same as DNDContent */
  position: relative;
}

.Cards {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  gap: 12px;
  height: 100%;
  justify-content: space-between;
  overflow-y: hidden;
  padding-top: 20px;
  position: relative;
  scroll-snap-type: x mandatory;
}

.HorizontalScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.HorizontalScroll::-webkit-scrollbar {
  display: none;
}

.extras {
  display: none;
  flex-direction: row;
  align-content: center;
  order: 2;
}

.extraBtn {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  margin-left: 8px;
  height: 40px;
  width: 40px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.extraBtn:first-child {
  margin-left: 0;
}

.extraTextBtn {
  padding: 0 16px;
  width: auto;
  min-width: 40px;
  font-weight: bold;
}

.darkModeBtn {
  background-color: var(--dark-mode-background-color);
  color: var(--dark-mode-text-color);
}

.badgeCount {
  width: 20px;
  height: 20px;
  background: #ef0808;
  border-radius: 100px;
  font-size: 13px;
  font-weight: 500;
  display: block;
  line-height: 20px;
  color: white;
  position: absolute;
  right: -4px;
  bottom: -6px;
}

.AppName {
  color: var(--app-name-text-color);
  flex-grow: 1;
  order: 1;
}

.logo {
  position: relative;
  top: 4px;
  margin-right: 4px;
  font-size: 24px;
}

.logoText {
  height: 16px;
  width: auto;
  fill: var(--app-name-text-color);
}

.cards {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.block {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  flex-direction: column;
  flex: 0 0 auto;
  height: calc(100% - 54px);
  overflow: hidden;
  padding-bottom: 56px;
  scroll-snap-align: start;
  width: 100vw;
}

.blockContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.scrollable {
  scrollbar-color: var(--scrollbar-accent-color) var(--scrollbar-background-color);
  scrollbar-width: thin;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollable::-webkit-scrollbar-track-piece {
  background-color: var(--scrollbar-background-color);
}

.scrollable::-webkit-scrollbar-thumb:vertical {
  border-radius: 6px;
  background-color: var(--scrollbar-accent-color);
}

.scrollable::-webkit-scrollbar-thumb:horizontal {
  border-radius: 6px;
  background-color: var(--scrollbar-accent-color);
}

.light .block {
  box-shadow: 0 0 20px var(--card-border-color);
}

.blockHeader {
  align-items: center;
  color: var(--card-header-text-color);
  display: flex;
  font-size: 16px;
  font-weight: 400;
  gap: 6px;
  height: 30px;
  justify-content: center;
  padding-bottom: 12px;
  padding-top: 12px;
  position: relative;
}

.blockHeader:hover {
  background: linear-gradient(90deg, var(--card-actions-background-shadow) 0%, transparent 34%);
}

.blockHeader .maxTitle {
  margin: 0;
  padding: 0;
  line-height: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.blockHeader:hover .blockHeaderLink {
  opacity: 1;
}

.blockHeaderLink {
  align-items: center;
  color: #96a2ae;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.blockHeaderLink:focus {
  opacity: 1;
}

.blockHeaderDragButton {
  align-items: center;
  background: transparent;
  border: none;
  color: #96a2ae;
  cursor: grab;
  display: none;
  font-size: 24px;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.blockHeader:hover .blockHeaderDragButton {
  display: flex;
}

.draggedBlock .block {
  transform: rotate(3deg);
  opacity: 0.5;
}

.blockHeaderIcon {
  display: flex;
  height: 16px;
  width: 16px;
}

.blockHeaderIcon img {
  display: block;
}

.blockHeaderIcon .rss {
  color: #ee802f;
}

/* Actions */
.blockActions {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 26%;
}

.blockActions.active {
  background: linear-gradient(to right, transparent, var(--card-actions-background-shadow));
}

.blockActionButton {
  background-color: var(--card-action-button-background);
  border-radius: 40px;
  border: none;
  box-shadow: 0 0 15px 2px var(--card-actions-background-shadow);
  color: var(--card-action-button-color);
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 28px;
  line-height: 12px;
  opacity: 1;
  padding: 0;
  pointer-events: all;
  text-align: center;
  transition: opacity 0.3s ease, right 0.3s ease;
  width: 28px;
  margin-bottom: 6px;
  margin-right: 6px;
}

.blockActionButton.active {
  background-color: var(--card-active-action-button-background);
  color: var(--card-active-action-button-color);
}

@media (hover: hover) {
  .blockActionButton {
    opacity: 0;
  }

  .blockRow:hover .blockActionButton,
  .blockActionButton:focus-visible,
  .blockActionButton.active {
    opacity: 1;
  }
}

/* Card (element) */
.blockRow {
  padding: 8px 16px;
  position: relative;
  scroll-snap-align: start;
}

.blockRow:hover {
  background-color: var(--card-background-focus-color);
}

/* .blockContent > div > div > div:not(:last-child), .blockRow:not(:last-child) */
.blockRow:not(:last-child) {
  border-bottom: 1px solid var(--card-content-divider);
}

.rowTitle {
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.rowTitle:hover {
  color: var(--primary-hover-text-color);
}

.dark .blockHeaderWhite {
  color: white;
}

.light .blockHeaderWhite {
  color: black;
}

.githubTitle {
  color: #0366d6;
}

.rowDescription {
  padding: 0;
  margin: 0;
  color: var(--secondary-text-color);
  margin-top: 8px;
  display: block;
  font-size: 14px;
}

.rowDetails {
  display: block;
  margin: 0;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.rowItemClickable {
  text-decoration: none;
}

.rowItem {
  color: #616970;
  margin-right: 16px;
  margin-bottom: 4px;
}

.rowDetails .rowItem {
  white-space: nowrap;
  font-size: 12px;
}

.rowDescription .rowItem {
  font-size: 12px;
}

.rowDetails .hnRowItem {
  color: #f6682f;
}

.rowDetails .inRowItem {
  color: #4799eb;
}

.rowDetails .redditRowItem {
  color: #fa481d;
}

.rowDetails .lobstersRowItem {
  color: #a91916;
}

.rowDetails .mediumRowItem {
  color: #000000;
}

.dark .rowDetails .mediumRowItem {
  color: #ffffff;
}

.rowItemIcon {
  position: relative;
  top: 1px;
}

.rowTitleIcon {
  position: relative;
  top: 3px;
  margin-right: 6px;
  color: #99a2ac;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  order: 4;
  transition: opacity 0.3s ease-out 0.1s, transform 0.3s ease-out 0.1s,
    visibility 0.3s ease-out 0.1s;
  width: 100%;
}

.tag {
  color: var(--tag-text-color);
  font-weight: 500;
  background-color: var(--tag-background-color);
  border: 1px solid var(--tag-border-color);
  border-radius: 20px;
  padding: 2px 8px;
}

.tagHoverable:hover {
  cursor: pointer;
  background-color: var(--primary-hover-text-color);
}

.tagIcon {
  position: relative;
  top: 2px;
}

.slogan {
  font-size: 16px;
  font-weight: normal;
  margin-left: 16px;
  color: #788494;
  margin-top: 8px;
}

.rowLanguage {
  font-size: 12px;
  color: #616970;
  text-transform: capitalize;
}

.rowLanguage::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-right: 4px;
  background-color: var(--language-dot-background-color);
  display: relative;
}

/**
Github languages colors
**/
.gh-language-python::before {
  background-color: #3572a5;
}

.gh-language-javascript::before {
  background-color: #f1e05a;
}

.gh-language-cplusplus::before {
  background-color: #f34b7d;
}

.gh-language-java::before {
  background-color: #b07219;
}

.gh-language-swift::before {
  background-color: #ffac45;
}

.gh-language-go::before {
  background-color: #00add8;
}

.gh-language-kotlin::before {
  background-color: #f18e33;
}

.gh-language-ruby::before {
  background-color: #701516;
}

.gh-language-php::before {
  background-color: #4f5e95;
}

.gh-language-typescript::before {
  background-color: #2b7489;
}

.gh-language-objective-c::before {
  background-color: #438eff;
}

.gh-language-django::before {
  background-color: #0c4b33;
}

*[class*='gh-language-node']::before {
  background-color: #5b9853;
}

*[class*='gh-language-angular']::before {
  background-color: #de0032;
}

*[class*='gh-language-react']::before {
  background-color: #61dbfb;
}

*[class*='gh-language-postgres']::before {
  background-color: #346792;
}

*[class*='gh-language-mongodb']::before {
  background-color: #14aa52;
}

*[class*='gh-language-vue']::before {
  background-color: #41b884;
}

.gh-language-ruby-on-rails::before {
  background-color: #cc0000;
}

.gh-language-android::before {
  background-color: #30d880;
}

.gh-language-flutter::before {
  background-color: #67b1f1;
}

.gh-language-dart::before {
  background-color: #045797;
}

.headerSelect {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--app-name-text-color);
  color: inherit;
  cursor: pointer;
  font-weight: bold;
  padding: 0;
}

.headerSelectIcon {
  position: relative;
  top: 2px;
}

/**
Contextify
**/
.react-contexify {
  background-color: var(--card-background-color) !important;
}

.react-contexify__item__content {
  color: var(--primary-text-color) !important;
}

.react-contexify__item__content:hover,
.react-contexify__item__content:active {
  background-color: var(--app-name-text-color) !important;
  color: var(--background-color) !important;
}

/**
Producthunt item
**/

.phItem {
  display: flex;
  flex-direction: row;
}

.phImage {
  width: 52px;
  height: 52px;
  margin-right: 12px;
}

.phContent {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.phVote {
  border: 1px solid var(--card-border-color);
  border-radius: 2px;
  display: block;
  padding: 12px 8px;
  height: 0%;
  width: 45px;
  text-align: center;
  margin-left: 4px;
}

.phVotesCount {
  font-weight: bold;
  font-size: 14px;
  margin-top: 4px;
}

/* reddit flairs */

.flair {
  padding: 2px 6px;
  border-radius: 40px;
  display: inline-block;
  font-size: 11px;
  margin-right: 4px;
  text-overflow: ellipsis;
  top: -2px;
  position: relative;
}

.counterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4px;
  text-align: center;
  width: 32px;
  min-width: 32px;
}

.counterWrapper .value {
  margin-top: 4px;
  font-size: 14px;
}

.bottomNavigation {
  display: none;
  flex-grow: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 54px;
  background-color: var(--card-background-color);
  box-shadow: 0 0 20px var(--card-border-color);
  position: fixed;
  bottom: 0;
  left: 0;
}

.navigationItem {
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  cursor: pointer;
  flex-grow: 1;
  font-size: 24px;
  height: 100%;
  line-height: 56px;
  margin: 0;
}

.navigationItem img {
  width: 18px;
  height: 18px;
}

.navigationItem:hover {
  display: block;
  height: 100%;
  background-color: #3c4f651f;
}

.navigationItem.active {
  background-color: #3c4f651f;
}

.changelogTooltip {
  overflow-x: hidden !important;
}

.changelogButton {
  width: auto;
  font-size: 12px;
  height: 20px;
  background-color: gray;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-flex;
  position: relative;
  cursor: pointer;
  border: 2px solid var(--background-color);
  left: -6px;
  top: -10px;
  padding: 0 4px;
  text-transform: lowercase;
  color: white;
}

.changelogButton.active {
  background-color: var(--tooltip-accent-color);
}

.changelogNewButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBar {
  order: 3;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, visibility 0.3s ease-out;
  width: 100%;
}

.dark .themeAdaptiveFillColor {
  fill: white;
}

.searchBarIcon {
  position: absolute;
  height: 40px;
  margin: 0 16px;
  width: 24px;
}

.searchBarInput {
  border-radius: 50px;
  color: var(--primary-text-color);
  border: 1px solid var(--card-border-color);
  box-shadow: 0 0 20px var(--card-border-color);
  box-sizing: border-box;
  height: 40px;
  padding: 0 32px 0 48px;
  width: 100%;
  background-color: var(--card-header-background-color);
}
.searchBarInput:focus {
  outline: none;
}
.tooltipLoading {
  display: flex;
  justify-content: center;
  min-height: 240px;
  align-items: center;
}

.tooltipErrorMsg {
  font-size: 14px;
  text-align: center;
  color: red;
}

.tooltipHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 4px 16px !important;
}

.tooltipVersion {
  background-color: var(--tooltip-accent-color);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
  padding: 2px 8px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.tooltipDate {
  font-size: 12px;
}

.tooltipContent {
  padding: 0 16px !important;
  line-height: 26px;
  border-bottom: 1px solid var(--tooltip-divider-color);
  font-size: 110%;
}

.__react_component_tooltip {
  pointer-events: auto !important;
  color: var(--tooltip-text-color) !important;
  width: 360px;
  min-height: 240px;
  max-height: 400px;
  background-color: var(--tooltip-background-color) !important;
  padding: 0 !important;
  overflow: scroll;
  box-shadow: 0px 4px 10px var(--tooltip-shadow-color);
}

.place-bottom::after {
  border-bottom-color: var(--tooltip-background-color) !important;
}

.__react_component_tooltip.show {
  opacity: 1 !important;
}

.scrollButton {
  border: none;
  display: none;
  position: absolute;
  top: 45%;
  background-color: var(--card-action-button-background);
  color: var(--card-action-button-color);
  opacity: 0.8;
  border-radius: 48px;
  width: 48px;
  height: 48px;
  box-shadow: 0 0 20px var(--card-border-color);
  z-index: 2;
  cursor: pointer;
}

.scrollButton:hover {
  opacity: 1;
}

/*****************
*** BREAKPOINTS
*******************/
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .bottomNavigation {
    display: flex;
  }

  .AppContent .block:nth-child(n + 2) {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .slogan {
    display: none;
  }

  .changelogButton {
    display: none;
  }

  .App {
    padding: 0;
  }

  .AppFooter {
    display: none;
  }

  .blockHeader {
    display: none;
  }

  .tags {
    display: none;
  }
}

@keyframes cardPlaceholderPulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.cardPlaceholder {
  padding: 16px 16px 24px 16px;
  animation-duration: 1.5s;
  animation-name: cardPlaceholderPulse;
  animation-iteration-count: infinite;
  scroll-snap-align: start;
}

.mediaCardPlaceholder {
  display: flex;
  flex-direction: row;
}

.cardPlaceholder .media {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  background: var(--placeholder-background-color);
  display: inline-block;
}

.cardPlaceholder .cardContent {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.cardPlaceholder .cardUpvote {
  margin-left: auto;
  background: var(--placeholder-background-color);
  width: 33px;
  height: 44px;
}

.cardPlaceholder .line {
  background: var(--placeholder-background-color);
  display: block;
  height: 17px;
  border-radius: 4px;
}

.cardPlaceholder .smallLine {
  margin-top: 8px;
  background: var(--placeholder-background-color);
  display: block;
  height: 14px;
  width: 90%;
  border-radius: 4px;
}

.cardPlaceholder .details {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.cardPlaceholder .detail {
  background: var(--placeholder-background-color);
  height: 10px;
  width: 73px;
  margin-right: 16px;
  border-radius: 4px;
}

.adCardPlaceholder {
  width: 300px;
  column-gap: 16px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.adCardPlaceholder .image {
  background: var(--placeholder-background-color);
  flex: 0 0 130px;
  height: 100px;
}

.floatingFilter {
  align-items: center;
  background-color: rgb(44, 128, 232);
  border-radius: 48px;
  border: transparent;
  bottom: 68px;
  box-shadow: 0 2px 8px var(--card-actions-background-shadow);
  display: flex;
  height: 48px;
  justify-content: center;
  position: fixed;
  right: 16px;
  width: 48px;
  z-index: 2;
}

.floatingFilterBottomSheet .title {
  font-size: 22px;
  margin: 0 0 8px 0;
}

.floatingFilterIcon {
  color: white;
  font-size: 24px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .floatingFilter {
    display: none;
  }

  .block {
    border-radius: 10px;
    height: 100%;
    padding-bottom: 0;
    width: calc(95vw / min(2, var(--max-visible-cards)));
  }

  .blockContent {
    height: calc(100% - 54px);
  }

  .searchBar {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
  }

  .extras {
    display: block;
  }

  .scrollButton {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .layoutLayers {
    margin-left: 1%;
    margin-right: 1%;
  }

  .Cards {
    padding-bottom: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .AppHeader {
    height: auto;
  }

  .AppName {
    flex-grow: unset;
    width: auto;
  }

  .block {
    width: calc(96vw / min(3, var(--max-visible-cards)));
  }

  .searchBar {
    width: auto;
  }

  .AppName,
  .searchBar,
  .extras,
  .tags {
    order: unset;
  }
}

/* Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
  .block {
    width: calc(96vw / min(3, var(--max-visible-cards)));
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
  .block {
    width: calc(96vw / min(4, var(--max-visible-cards)));
  }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media only screen and (min-width: 1400px) {
  .block {
    width: calc(95vw / min(4, var(--max-visible-cards)));
  }
}

@media (min-width: 1800px) {
  .App {
    width: 1800px;
    margin: 0 auto;
    padding: 0;
  }

  .block {
    width: calc(
      (1800px - 20px * min(5, var(--max-visible-cards))) / min(5, var(--max-visible-cards))
    );
  }
}

/***** PAGE ****/
.Page {
  max-width: 1024px;
  margin: 0 auto;
  color: var(--primary-text-color);
}

.Page .title {
  color: var(--primary-text-color);
}

.Page button {
  background: var(--card-background-color);
  border: none;
  border-radius: 20px;
  border: 1px solid var(--card-border-color);
  padding: 8px 16px;
  color: var(--primary-text-color);
  cursor: pointer;
}

.Page .buttonIcon {
  position: relative;
  vertical-align: middle;
}

.layoutLayers {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.layoutLayers > * {
  scroll-snap-align: end;
}

/*Helpers */
.noMargin {
  margin: 0 !important;
}

.marginLeftAuto {
  margin-left: auto;
}

.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.defaultToast {
  background-color: var(--card-background-color);
  padding: 10px 20px;
  color: var(--primary-text-color);
  border-radius: 10px;
}
