.sidebar {
  top: 0;
  right: 0;
  position: absolute!important;
  color: var(--primary-text-color)!important;
  background-color: var(--card-background-color);
  overflow: hidden;
  flex-direction: column;

  /* Fix flickering issue on Chrome (Mac)*/
  -webkit-backface-visibility: hidden;
  -webkit-transform:translate3d(0,0,0);
}

.dark .sidebar{
  border-left: 1px solid var(--card-border-color);
}
.light .sidebar {
  box-shadow: -4px 0 20px var(--card-border-color);
}

.sidebarHeader {
  padding: 24px;
  display: flex;
  justify-content: space-between
}

.sidebarHeader .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}
.sidebarHeader .closeBtn {
  cursor: pointer;
  display: flex
}

.pro-sidebar-inner {
  background: var(--card-background-color)!important;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background: var(--card-background-color)!important;
  
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover {
  color: var(--primary-text-color)!important;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:focus {
  color: var(--primary-text-color)!important;
}

.pro-sidebar .pro-menu a {
  color: var(--primary-text-color)!important;
}

.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  background: var(--button-background-color)!important;
}

.pro-sidebar .pro-menu a:before {
  position: static!important;
}

.unbookmarkBtn {
  font-size: 20px;
}
@media (max-width: 2000px) { 
  .sidebar:not(.collapsed) {
    width: 16% !important;
  }
}
@media (max-width: 1800px) { 
  .sidebar:not(.collapsed) {
    width: 22% !important;
  }
}

@media (max-width: 1200px) { 
  .sidebar:not(.collapsed) {
    width: 30% !important;
  }
}
@media (max-width: 991.98px) { 
  .sidebar:not(.collapsed) {
    width: 40% !important;
  }
}
@media (max-width: 768px) {
  .sidebar:not(.collapsed) {
    width: 50% !important;
  }
}

@media (max-width: 575.98px) {
  .sidebar:not(.collapsed){
    width: 100% !important;
  }
}

