.spinner {
  position: relative;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: currentColor;
  border-right-color: currentColor;
  border-bottom-color: currentColor;
  animation: spin 1.5s linear infinite;
  &.small {
    width: 20px;
    height: 20px;
  }

  &.medium {
    width: 40px;
    height: 40px;
  }

  &.large {
    width: 50px;
    height: 50px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
