.bookmarks {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.bookmarks .bookmarkItem {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--card-content-divider);
  padding-bottom: 12px;
  padding-right: 12px;
}
.bookmarks .body {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.bookmarks .actions {
  margin-left: auto;
}
.bookmarks .title {
  font-weight: bold;
  font-size: 16px;
  color: var(--primary-text-color);
}

.bookmarks .source {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
  color: var(--secondary-text-color);
  font-size: 14px;
}
.bookmarks .source svg,
.bookmarks .source .icon img {
  width: 16px;
  height: 16px;
}
.bookmarks .btn {
  width: 40px;
  height: 40px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-size: 20px;
  text-align: center;
  border: 0;
  border-radius: 20px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Export/Import Bookmark Buttons */

/* removing that ugly default button design */
.notbtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn-group {
  padding: 10px;
  display: flex;
}

.btn {
  border-radius: 12px;
  padding: 6px 12px;
  margin-right: 5px;
  background-color: var(--chip-background);
}
.btn:hover {
  filter: brightness(85%);
}
